<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Members Only</title>
  </head>
  <body>
    <%- include('partials/header.ejs',user) %>
    <!-- <% if (locals.user) { %>
    <p><%= user.id %></p>
    <p><%= user.fullname %></p>
    <p><%= user.username %></p>
    <p><%= user.member %></p>
    <% } %> -->
  </body>
</html>
